In [ ]:
#BTVN 
#1.Lọc số huy chương Vàng
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Gold']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
#BTVN 
#2.Lọc số huy chương Bạc
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Silver']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
...,...,...,...,...,...,...,...,...
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
#BTVN 
#3.Lọc số huy chương Đồng
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Bronze']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
...,...,...,...,...,...,...,...,...
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2297,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze

In [ ]:
#BTVN 
#4.Nhóm các loại huy chương thành từng nhóm theo từng năm
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('Year').head()
data.groupby('Year').count()

      City  Sport  Discipline  NOC  Event  Event gender  Medal
Year
1924    49     49          49   49     49            49     49
1928    41     41          41   41     41            41     41
1932    42     42          42   42     42            42     42
1936    51     51          51   51     51            51     51
1948    68     68          68   68     68            68     68
1952    67     67          67   67     67            67     67
1956    72     72          72   72     72            72     72
1960    81     81          81   81     81            81     81
1964   103    103         103  103    103           103    103
1968   106    106         106  106    106           106    106
1972   105    105         105  105    105           105    105
1976   111    111         111  111    111           111    111
1980   115    115         115  115    115           115    115
1984   117    117         117  117    117           117    117
1988   138    138         138  138    138           138    138
1992   171    171         171  171    171           171    171
1994   183    183         183  183    183           183    183
1998   205    205         205  205    205           205    205
2002   234    234         234  234    234           234    234
2006   252    252         252  252    252           252    252

In [ ]:
#BTVN 
#5.Nhóm các loại huy chương thành từng nhóm theo từng thành phố
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('City').head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2059,2006,Turin,Skiing,Freestyle Ski.,AUS,aerials,W,Bronze
2060,2006,Turin,Skiing,Freestyle Ski.,AUS,moguls,M,Gold
2061,2006,Turin,Luge,Luge,AUT,doubles,X,Gold
2062,2006,Turin,Skiing,Alpine Skiing,AUT,Alpine combined,M,Bronze
2063,2006,Turin,Skiing,Alpine Skiing,AUT,Alpine combined,W,Silver

In [ ]:
#BTVN 
#5.Nhóm các loại huy chương thành từng nhóm theo từng quốc gia
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('NOC').head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2129,2006,Turin,Skiing,Cross Country S,EST,15km,M,Gold
2202,2006,Turin,Luge,Luge,LAT,singles,M,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
#BTVN 
#6.Nhóm các loại huy chương thành từng nhóm theo từng Discipline
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('Discipline').head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
1644,1998,Nagano,Curling,Curling,CAN,curling,W,Gold
1656,1998,Nagano,Skiing,Snowboard,CAN,giant-slalom,M,Gold
1688,1998,Nagano,Skiing,Snowboard,FRA,giant-slalom,W,Gold
1717,1998,Nagano,Skiing,Snowboard,GER,giant-slalom,W,Silver
1718,1998,Nagano,Skiing,Snowboard,GER,Half-pipe,W,Gold

In [ ]:
#BTVN 
#7.Đếm số lượng từng loại huy chương
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64

In [ ]:
#BTVN 
#8.Xóa huy chương Bạc và Đồng
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Gold']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
#BTVN 
#9.Xóa huy chương Vàng và Đồng
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Silver']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
...,...,...,...,...,...,...,...,...
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
#BTVN 
#10.Xóa huy chương Vàng và Bạc
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['Medal']=='Bronze']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
...,...,...,...,...,...,...,...,...
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2297,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze

In [ ]:
#BTVN 
#11.Các môn thể thao 
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Sport'].unique()

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)

In [ ]:
#BTVN 
#12.Các nước tham gia 
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
#BTVN 
#13.Các sự kiện tổ chức
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Event'].unique()

array(['individual', 'pairs', 'four-man', 'ice hockey', 'military patrol',
       '10000m', '1500m', '5000m', '500m', 'combined (4 events)', '18km',
       'curling', '50km', 'K90 individual (70m)', 'five-man', 'two-man',
       '4x10km relay', 'alpine combined', 'downhill', 'slalom',
       'giant slalom', '10km', '30km mass start', '3x5km relay', '15km',
       '1000m', '20km', '3000m', 'doubles', 'singles', '5km',
       'K120 individual (90m)', '4x7.5km relay', '4x5km relay',
       'ice dancing', 'super-G', 'Team', 'K120 team (90m)', '3000m relay',
       '5000m relay', '3x7.5km relay', '7.5km', '15km mass start', '30km',
       'Combined 5km + 10km pursuit', 'moguls', '10km pursuit',
       'Combined 10km + 15km pursuit', 'aerials', 'giant-slalom',
       'Half-pipe', 'sprint', '5km pursuit', '12.5km pursuit',
       'Giant parallel slalom', 'Sprint 1.5km', 'sprint 1.5km',
       'Alpine combined', 'Individual', 'Individual sprint',
       'Team pursuit', 'Team sprint', 'Snowboard Cross',
       'Combined 7.5 + 7.5km mass start', '4x6km relay',
       '12.5km mass start', 'Combined 15 + 15km mass start'], dtype=object)

In [ ]:
#BTVN 
#14.Các thành phố tham gia
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['City'].unique()

array(['Chamonix', 'St. Moritz', 'Lake Placid', 'Garmisch-Partenkirchen',
       'Oslo', "Cortina d'Ampezzo", 'Squaw Valley', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Sarajevo', 'Calgary', 'Albertville',
       'Lillehammer', 'Nagano', 'Salt Lake City', 'Turin'], dtype=object)

In [ ]:
#BTVN 
#15.Các năm tổ chức Olympic
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [ ]:
#BTVN 
#15.Các loại hình của các môn thể thao
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['Discipline'].unique()

array(['Figure skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon',
       'Speed skating', 'Cross Country S', 'Curling', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track S.', 'Freestyle Ski.', 'Snowboard'], dtype=object)

In [ ]:
#BTVN 
#16.Đếm số huy chương của mỗi thành phố tham gia
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['City'].value_counts()

Turin                     252
Salt Lake City            234
Innsbruck                 214
Nagano                    205
Lillehammer               183
Albertville               171
Lake Placid               157
Calgary                   138
Sarajevo                  117
St. Moritz                109
Grenoble                  106
Sapporo                   105
Squaw Valley               81
Cortina d'Ampezzo          72
Oslo                       67
Garmisch-Partenkirchen     51
Chamonix                   49
Name: City, dtype: int64

In [ ]:
#BTVN 
#17.Đếm số huy chương của mỗi nước tham gia
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64